* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#landing_page {
  background-image: url(/landingpageimage2.jpg);
  background-size: cover;
  height: 100vh;
}

/* NAVBAR STYLING */
#navbar {
  /* position: fixed; */
  padding: 0 15em;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  font-size: large;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1150px; */
  margin: 0 auto;
}

.navbar_container h1 {
  font-size: 25px;
  flex: 1;
}

.navbar_container ul {
  display: flex;
  flex: 2.5;
  align-items: center;
}
.navbar_container .menu_item {
  font-size: 15px;
  list-style: none;
  flex: 1;
  cursor: pointer;
}
.navbar_container ul li:hover {
  color: rgb(18, 187, 178);
}

.navbar_container button {
  font-weight: bold;
  background-color: #fff;
  color: black;
  border: 1px solid #fff;
  border-radius: 2em;
  padding: 10px 16px;
  transition: background-color 0.3s ease;
}

.navbar_container button:hover {
  background-color: rgb(182, 226, 229);
  color: black;
  transition: background-color 0.3s ease;
}

/* lANDING PAGE HOOK */

#hook {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20em auto;
  padding: 2em 4em;
  text-align: center;
  line-height: 2.5em;
}

.hook_container small {
  font-style: italic;
  font-size: large;
  color: rgb(182, 226, 229);
}
.hook_container .normal {
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  padding: 10px 16px;
  margin-top: 1em;
  border-radius: 2em;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.hook_container .normal:hover {
  background-color: rgb(182, 226, 229);
  color: black;
  transition: background-color 0.3s ease;
}

.hook_container .highlight {
  background-color: #fff;
  color: black;
  padding: 10px 16px;
  border: 1px solid #fff;
  border-radius: 2em;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.hook_container .highlight:hover {
  background-color: rgb(182, 226, 229);
}

/* Second page */
#second_page {
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #1f1e23, #0d3960);
}

#two_cards {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.hook_card {
  margin-top: 7em;
  border-radius: 1em;
  height: 400px;
  color: #fff;
  line-height: 0.5;
}

.hook_card h2 {
  margin: 50px 0 0 50px;
}
